:root {
    --glowing-green: #51ff0d;
}

@font-face {
    font-family: Pixel;
    src: url(../font/pixel_[allfont.net].ttf);
}

body {
    overflow: hidden;
    color: var(--glowing-green);
    font-family: "Pixel";
}

/* Set Entrance cover */
#entrance {
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    width: 100%;
    height: 100%;
    z-index: 2;

    /* display content to middle */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#click_me {
    position: relative;
    font-size: 80px;
    z-index: 3;
}

#click_me:hover {
    cursor: pointer;
}

#click_me:hover::before {
    content: "CLICK ME";
    position: absolute;
    left: -8px;
    text-shadow: 1px 0 #4e73df;
    top: 0;
    color: whitesmoke;
    background: black;
    overflow: hidden;
    clip: rect(0,900px,0,0);
    animation: noise-anim 2s infinite linear alternate-reverse;
}

#click_me:hover::after {
    content: "CLICK ME";
    position: absolute;
    left: 14px;
    text-shadow: -1px 0 #e74a3b;
    top: 0;
    color: whitesmoke;
    background: black;
    overflow: hidden;
    clip: rect(0,900px,0,0);
    animation: noise-anim 3s infinite linear alternate-reverse;
}

@keyframes noise-anim{
    0%{clip:rect(89px,9999px,100px,0)}
    5%{clip:rect(4px,9999px,62px,0)}
    10%{clip:rect(43px,9999px,16px,0)}
    15%{clip:rect(2px,9999px,68px,0)}
    20%{clip:rect(12px,9999px,6px,0)}
    25%{clip:rect(89px,9999px,25px,0)}
    30%{clip:rect(15px,9999px,38px,0)}
    35%{clip:rect(57px,9999px,97px,0)}
    40%{clip:rect(24px,9999px,72px,0)}
    45%{clip:rect(81px,9999px,3px,0)}
    50%{clip:rect(93px,9999px,26px,0)}
    55%{clip:rect(68px,9999px,85px,0)}
    60%{clip:rect(43px,9999px,28px,0)}
    65%{clip:rect(44px,9999px,11px,0)}
    70%{clip:rect(17px,9999px,33px,0)}
    75%{clip:rect(74px,9999px,66px,0)}
    80%{clip:rect(100px,9999px,4px,0)}
    85%{clip:rect(92px,9999px,31px,0)}
    90%{clip:rect(93px,9999px,98px,0)}
    95%{clip:rect(23px,9999px,77px,0)}
    100%{clip:rect(92px,9999px,8px,0)}
}

/* Background setting */
#background {
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    width: 100%;
    height: 100%;
    z-index: -2;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Header setting */
#myName {
    text-align: center;
}

#myName h1 {
    font-size: 70px;
}

#content {
    position: relative;
}

/* Info Setting */
#info {
    position: relative;
    float: left;
}

#info-background {
    position: absolute;
}

#info ul li, #info ul li::after{
    border-color: var(--glowing-green);
    background-color: transparent;
    z-index: 1;
}

#info-background ul li, #info-background ul li::after{
    color: darkslategray;
    border-color: darkslategray;
    opacity: 0.7;
}

#info ul, #info-background ul {
    list-style-type: none;
    padding: 0 25px;
}

#info ul li, #info-background ul li {
    cursor: pointer;
    position: relative;
    font-size: 30px;
    
    /* Layout */
    box-sizing: border-box;
    padding: 10px;
    margin: 25px 0px;
    width: 350px;
    height: 55px;
    clip-path: polygon(0px 0px, 350px 0px, 350px 30px, 325px 55px, 0px 55px);

    /* Border */
    border-style: solid;
    border-width: 2px;
}

#info ul li:hover {
    top: -10px;
    left: -10px;
}

#info ul li::after, #info-background ul li::after {
    content: "";
    position: absolute;
    bottom: -17px;
    right: -17px;
    width: 30px;
    height: 30px;
    transform: rotate(45deg);

    /* Border */
    border-style: solid;
    border-width: 2px;
}

/* Info detail setting */

#detail {
    position: absolute;
    left: 400px;
    width: 65%;
}

#detail div {
    position: absolute;
    padding: 10px;
    margin: 10px;
    width: 0;
    height: 0;
    opacity: 0;
    transition: height 3s, width 3s;

    /* Border */
    box-sizing: border-box;
    border-style: solid;
    border-width: 2px;
    border-color: var(--glowing-green);
    clip-path: polygon(25px 0, 100% 0, 100% 100%, 0 100%, 0 25px);
}

#detail div::before {
    content: "";
    position: absolute;
    top: -18px;
    left: -17px;
    width: 30px;
    height: 30px;
    transform: rotate(45deg);

    /* Border */
    border-style: solid;
    border-width: 2px;
    border-color: var(--glowing-green);
}

.hide {
    opacity: 0;
    transition: opacity 2s;
}

#detail img {
    height: 400px;
    width: 600px;
}

/* Button setting */
#play {
    position: absolute;
    left: 20px;
    bottom: 20px;
}

#pause {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

#play, #pause {
    font-size: 30px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--glowing-green);
    font-family: "Pixel";
    color: var(--glowing-green);
    background-color: transparent;
    padding-top: 10px;
}